.bottom_container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 50%;
}

.pack_builder {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	min-width: 50%;
	max-width: fit-content;

	justify-self: center;
	align-self: center;

	gap: 10px;
}

.amount_display {
	background-color: white;
	width: 40px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 4px;
	position: relative;
}
.packDisplay {
	position: relative;
	top: -15px;
	right: -25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.packDisplayText {
	position: absolute;
	color: #FFF;
	font-size: 12px;
}
