* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
}

html,
body {
	height: 100vh;
	overflow: hidden;
}

body {
	display: grid;
	place-items: center;
}

.screen {
	width: 500px;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;

	border: 1px solid black;
	background-color: white;
	position: relative;
}

.imagemDemonstrativa {
	height: 100%;
	aspect-ratio: inherit;
}

.cabecalho {
	width: 100%;
	height: 10%;

	background-color: #809caa;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.rodape {
	background-color: #809caa;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;

	height: 40%;
	width: 100%;
}

.carrossel {
	height: 100%;
	width: 100%;
	display: flex;

	align-items: center;
	overflow: hidden;
	position: relative;

	scroll-behavior: smooth;
}

.botao {
	position: absolute;

	bottom: 5%;
	z-index: 2;
}

.invertido {
	transform: scaleX(-1);
}

.containerCabecalho {
	display: flex;
	justify-content: center;
	align-self: center;
	height: 70%;
	gap: 20px;
}

.botaoCategoria {
	display: flex;
	align-items: center;
	justify-content: center;
}

.caixaCategoria {
	width: fit-content;
	background-color: white;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 4px;
}

.containerFuncionalidades {
	background-color: white;
	height: 49%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	box-shadow: 0px -1px 0px #809caa;
}

.fotosInfo {
	width: 100%;
	height: fit-content;

	display: flex;
	gap: 4px;
}

.imagemMiniatura {
	border: 1px solid #809caa;
	display: flex;
	align-items: center;
	justify-content: center;
}

.altoRodape {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;

	margin-bottom: 5px;
}

.icone {
	height: 100%;
	aspect-ratio: inherit;
}

.seek,
.info,
.shopCart {
	height: 40px;
}

.plus,
.minus,
.counter {
	height: fit-content;
	align-self: center;
	justify-content: center;
}

.sweep {
	height: 30px;
	background-color: #809caa;
	border-radius: 20px;
}

.rodapePack {
	height: 50%;
	display: flex;
	flex-direction: column;
}

.rodapePackInverse {
	height: 50%;
	display: flex;
	flex-direction: column-reverse;
	position: relative;
}

.precoPackContainer {
	background-color: white;
	display: flex;
	justify-content: center;

	height: 50%;

	gap: 3%;
}

.bottomContainer {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 50%;
}

.comanda {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.montaPack {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	min-width: 50%;
	max-width: fit-content;

	justify-self: center;
	align-self: center;

	gap: 10px;
}

.visor {
	background-color: white;
	width: 40px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 4px;
	position: relative;
}

.Modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;

	z-index: 1;
}
.Janela {
	height: 80%;
	width: 80%;
	background-color: white;

	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: start;
}
.corpoModalInfo {
	text-indent: 15px;
}
.formSeek{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;

	gap: 10px;
	padding: 20px
}
.item{
	flex:none;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}
.vitrine {
	height: 50%;
	position:relative;
	width: 100%;
}
